body {
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    lime,
    rgb(249, 146, 3),
    rgb(8, 231, 108)
  );
}

header h1 {
  text-align: center;
  margin: 16px;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

.item {
  margin: 20px;
}
p {
  text-align: center;
}
main {
  text-align: center;
}
main h2 {
  margin: 32px;
  text-align: center;
}

main ul {
  list-style-position: inside;
}
